.sectionHeading {
    display: flex;
    justify-content: center;
    width: 100%;
    height: min-content;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.sectionTitle {
    margin-top: 32px;
    color: #4caf4f;
    font-size: 30px;
    line-height: 30.6271px;
    font-weight: 700;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: 100%;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.description {
    margin-top: 5px;
    margin-bottom: 32px;
    color: #18191f;
    font-size: 14px;
    line-height: 16.7057px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: 100%;
    height: min-content;
    text-align: center;
    align-items: center;
    flex-direction: column;
}