.statistics-card-total-number {
    :global {
        span.card-title {
            font-size: 16px;
            font-weight: 600;
        }

        .card-unit {
            display: block;
            text-align: right;
            font-size: 0.8rem;
        }

        .ant-card-body div:first-child {
            position: relative;
            margin: 0px !important;
            line-height: 2.5rem;
            font-size: 2.5rem;
            font-weight: 600;
        }

        span.card-sub-infor {
            font-weight: 500;
            font-style: italic;
            font-size: 1rem;
        }
    }

    box-shadow: 0 15px 15px rgba(0, 0, 0, .05);
    transition: box-shadow .24s cubic-bezier(.22, 0, .08, 1),
    transform .24s cubic-bezier(.22, 0, .08, 1),
    -webkit-box-shadow .24s cubic-bezier(.22, 0, .08, 1),
    -webkit-transform .24s cubic-bezier(.22, 0, .08, 1);
}

.statistics-card-total-number:hover {
    transform: translateY(-4px);
    transition: box-shadow .24s cubic-bezier(.22, 0, .08, 1), transform .24s cubic-bezier(.22, 0, .08, 1), -webkit-box-shadow .24s cubic-bezier(.22, 0, .08, 1), -webkit-transform .24s cubic-bezier(.22, 0, .08, 1);
}

// transform: translateY(-4px);
.total-section {
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.05);
    margin: 20px 0px;
}