    .text_sidebar {
        font-size: 12px;
        font-weight: 500;
        padding-left: 10px;

        .p_role {
            text-transform: uppercase;
        }

        .p_name {
            color: black;
            font-size: 15px;
        }
    }