.bigblue{
    width: 100% !important
}
.iconInput{
    background-color: #eee;
    font-size: 16px;
    font-weight: bold; 
    padding: 7px;
    margin-right: -10px;
    color: #323949 !important;
    border-radius: 0 5px 5px 0;
    border-left: 1px #eee solid;
}
.anticon{
    color: #323949 !important;
}